.wrapper{
    margin-left: 32px;
    margin-right: 32px;
}
.main{
    display: flex;
    justify-content: center;
}
#main__menu{
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-evenly;
    padding-top: 52px;
    position: relative; 
    max-width: 100%;
    height: auto;
    min-width: 10%;
    min-height: 10%;
    z-index: 10;        
}